.box111{
    display: flex;
    margin-top: 85px;
    background-color: #f5f5f5;
    
}
.development{
    height: 65vh;
    padding-bottom: 10vh;
    background-color: #f5f5f5;
}

.devimg1{
    width: 45%;
    position: absolute;
}


.box-text11{
    max-width: 45%;
    text-align: center;
    margin:8% 0 8% 32%;
   
   
    position: absolute;
    /* margin-left: 32%; */
    
    background-color: rgb(255, 255, 255);
    border: 1px 0 1px 1px solid gray;
    padding: 4% 8%;
    box-shadow:  2px 0.5px 6px 0.5px rgb(190, 188, 188);
}

.head-main11 {
  
    height: 87px;
  margin-left: 17%;
    position: relative;
    padding-bottom: 2%;
    
    
  }
  
.head411 {
    color: #f0f0f0;
    font-size: 4rem;
    font-weight: 700;
    left: 6%;
    letter-spacing: 0;
    line-height: 6%;
    position: absolute;
    top: 1%;
    white-space: nowrap;
    
    
  }
  
.head412 {
    color: #143274;
    
    font-size: 3rem;
    font-weight: 700;
    left: 14%;
    letter-spacing: 0;
    line-height: 6%;
    position: absolute;
    top: 10%;
    white-space: nowrap;
  }

  .head-main11::after{
    content: "";
    position: absolute;
    bottom: 50px;
    height: 3px;
    width: 65%;
    left:2%;
    background-color: #CA256D;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
    transform-origin:center;
}

.head-main11:hover::after{
    transform: scaleX(1);
}

.create1{
    font-size: 1.25rem;
    
    
  }
  @media screen and (max-width:1600px) {
    .head412 {
      font-size: 38px;
      font-weight: 700;
   
    }
   
    .head411 {
      font-size: 54px;
      font-weight: 700;
      left:4%;
    }
   
    .head-main1{
      margin-left: 9%;
    }

    .head-main11::after{
      left:8%;
    }

    .create1{
      font-size: 1rem;
    }
  }
   
   
  @media screen and (max-width:1000px)  {
   
      .head-main11{
      margin-left: 1%;
    }
  }
   
  @media screen and (max-width:950px) {
   
    .head412 {
      font-size: 34px;
      font-weight: 700;
   
    }
   
    .head411 {
      font-size: 50px;
      font-weight: 700;
    }
   
    .box-text11 {
   
      position: absolute;
      margin: 0px;
      max-width: 500px;
    }
   
    .devimg1 {
      width: 470px;
    }
   
    .headd44 {
      width: 400px;
    }
   
  }
   
  @media screen and (max-width:600px) {
   
    .box-text11 {
   
      position: absolute;
      margin: 0px;
      max-width: 500px;
      padding: 40px 35px;
    }
   
    .devimg1 {
      display: none;
    }
   
    .head-main11 {
      margin-left: 50px;
    }
   
    .head412 {
      font-size: 28px;
      font-weight: 700;
   
    }
   
    .head411 {
      font-size: 44px;
      font-weight: 700;
    }
  }
   
   
  @media screen and (max-width:500px) {
    .head-main11 {
      margin-left: 14%;
    }
   
    .head412 {
      font-size: 24px;
      font-weight: 700;
   
    }
   
    .head411 {
      font-size: 35px;
      font-weight: 700;
      left: 1%;
    }
   
   .development{
    height: 0;
   }
   
  }