.devnav2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 10px;
  background-color: #CA256D;
  border-bottom: 1px solid #818181;
  position: relative;
  width: 250%;
  left: -105%;
  margin-top: 2.5%;
  z-index: 1;
}

.dev-list2 {
  list-style: none;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;

}

.dev-item2 {
  margin: 50px 40px 45px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  color: white;
  justify-content: space-evenly;
}

.dev-item2:hover {
  text-decoration: underline;
  color: #f9f0f5;
}

.dev-item2 a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 900px) {
  .devnav2 {
     
    flex-direction: column;
    /* position: absolute; */
    /* background-color: rgb(241, 98, 98); */
    background: linear-gradient(to right, #CA256D 0%, #143274 100%);
    color: #ffffff;
    height: 35vh;
    width: 130%;
    right: 20;    
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 100%;
    margin-right: 1px;
}

.dev-list2 {
  flex-direction: column;
 
}

.dev-item2 {
  margin: 0px 10px;
  margin-top: 0px;
  margin-bottom:15%;
  font-size: 17px;
}
}