.box75{
    display: flex;
    margin-top: 85px;
}
.development{
    height: 65vh;
    padding-bottom: 10vh;
}

.devimg75{
    width: 45%;
    position: absolute;
}


.box-text75{
    max-width: 47%;
    text-align: center;
    margin:7% 0 7% 32%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 1px 0 1px 1px solid gray;
    padding: 4% 8%;
    box-shadow: 2px 0.5px 6px 0.5px rgb(190, 188, 188);
}

.head-main75 {
    height: 87px;
    margin-left: 16%;
    position: relative;
    padding-bottom: 2%;
    
    
  }
  
.head475 {
    color: #f0f0f0;
    font-size: 4rem;
    font-weight: 700;
    left: 6%;
    letter-spacing: 0;
    line-height: 6%;
    position: absolute;
    top: 1%;
    white-space: nowrap;
    /* padding-bottom: 900px; */
    
  }
  
.head476 {
    color: #143274;
    
    font-size: 3rem;
    font-weight: 700;
    left: 14%;
    letter-spacing: 0;
    line-height: 6%;
    position: absolute;
    top: 10%;
    white-space: nowrap;
  }

  .head-main75::after{
    content: "";
    position: absolute;
    bottom: 50px;
    height: 3px;
    width: 65%;
    left: 4%;
    background-color: #CA256D;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
    transform-origin:center;
}

.head-main75:hover::after{
    transform: scaleX(1);
}


.create75{
    font-size: 1.25rem;
   
    
  }
  @media screen and (max-width:1600px) {
    .head476{
      font-size: 38px;
      font-weight: 700;
   
    }
   
    .head475 {
      font-size: 54px;
      font-weight: 700;
      left:4%;
    }
   
    .head-main75{
      margin-left: 9%;
    }

    .head-main75::after{
      left:8%;
    }

    .create75{
      font-size: 1rem;
    }
  }

  @media screen and (max-width:1000px)  {
   
    .head-main75{
    margin-left: 1%;
  }
}
 
@media screen and (max-width:950px) {
 
  .head476 {
    font-size: 34px;
    font-weight: 700;
 
  }
 
  .head475 {
    font-size: 50px;
    font-weight: 700;
  }
 
  .box-text75 {
 
    position: absolute;
    margin: 0px;
    max-width: 500px;
  }
 
  .devimg75 {
    width: 470px;
  }
 
  .headd44 {
    width: 400px;
  }
 
}
 
@media screen and (max-width:600px) {
 
  .box-text75 {
 
    position: absolute;
    margin: 0px;
    max-width: 500px;
    padding: 40px 35px;
  }
 
  .devimg75 {
    display: none;
  }
 
  .head-main75 {
    margin-left: 50px;
  }
 
  .head476 {
    font-size: 28px;
    font-weight: 700;
 
  }
 
  .head475 {
    font-size: 44px;
    font-weight: 700;
  }
}
 
 
@media screen and (max-width:500px) {
  .head-main75 {
    margin-left: 10%;
  }

  .head-main75::after{
    left:11%;
  }
 
  .head476 {
    font-size: 24px;
    font-weight: 700;
 
  }
 
  .head475 {
    font-size: 35px;
    font-weight: 700;
    left: 1%;
  }

 
 .development{
  height: 0;
 }
 
}
   
    
