

.cloud{
    /* margin-top: 85px; */
    height: 65vh;
    padding-bottom: 10vh;
    background-color: #f5f5f5;
    
}
.box177{
    display: flex;
    margin-top: 85px;
    background-color: #f5f5f5;
   
}
.devimg7{
    width: 45%;
    position: absolute;
    
}


.box-text7{
    max-width: 45%;
    text-align: center;
    margin:8% 0 8% 32% ;
    background-color: rgb(255, 255, 255);
    position: absolute;
    padding: 4% 8%;
    /* border: 1px 0 1px 1px solid black; */
    border-radius: 1px;
    box-shadow:  1px 0.5px 6px 0px rgb(190, 188, 188);
}

.head-main7 {
    height: 87px;
   left:23%;
    position: relative;
    padding-bottom: 2%;
    
    
  }
  
.head471 {
    color: #f0f0f0;
    font-size: 4rem;
    font-weight: 700;
    left: 11%;
    letter-spacing: 0;
    line-height: 6%;
    position: absolute;
    top: 1%;
    white-space: nowrap;
    /* padding-bottom: 900px; */
    
  }
  
.head472 {
    color: #143274;
    
    font-size: 3rem;
    font-weight: 700;
    left: 14%;
    letter-spacing: 0;
    line-height: 6%;
    position: absolute;
    top: 10%;
    white-space: nowrap;
  }

  .head-main7::after{
    content: "";
    position: absolute;
    bottom: 50px;
    height: 3px;
    width: 30%;
    left: 7%;
    background-color: #CA256D;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
    transform-origin:center;
}

.head-main7:hover::after{
    transform: scaleX(1);
}

.create7{
    font-size: 100%;
    font-weight: 400;
    color: #000;
}

@media screen and (max-width:1600px) {
  .head472 {
    font-size: 38px;
    font-weight: 700;
 
  }
 
  .head471 {
    font-size: 54px;
    font-weight: 700;
    left: 9.5%;
  }
 
  .head-main{
    margin-left: 9%;
  }
  .head-main7::after{
    width: 20%;
    left: 13%;
  }
}
 
 
@media screen and (max-width:1000px)  {
 
    .head-main7{
    margin-left: 1%;
  }
}
@media screen and (max-width:950px) {
 
  .head472 {
    font-size: 34px;
    font-weight: 700;
 
  }
 
  .head471 {
    font-size: 50px;
    font-weight: 700;
    
  }
 
  .box-text7 {
 
    position: absolute;
    margin: 0px;
    max-width: 500px;
  }
 
  .devimg7 {
    width: 470px;
  }
 
  .headd44 {
    width: 400px;
  }
 
}
 
@media screen and (max-width:600px) {
 
  .box-text7 {
 
    position: absolute;
    margin: 0px;
    max-width: 500px;
    padding: 40px 35px;
  }
 
  .devimg7 {
    display: none;
  }
 
  .head-main7 {
    margin-left: 50px;
  }
 
  .head472 {
    font-size: 28px;
    font-weight: 700;
 
  }
 
  .head471 {
    font-size: 44px;
    font-weight: 700;
  }
}
 
 
@media screen and (max-width:500px) {
  .head-main7 {
    margin-left: 6%;
    width:50%;
  }
 
  .head-main7::after{
    width: 50%;
    left: 11%;
  }
  .head472 {
    font-size: 24px;
    font-weight: 700;
    
 
  }
 
  .head471 {
    font-size: 35px;
    font-weight: 700;
    left: 8%;
  }
 
 .cloud{
  height: 30vh;
 }
 
}