.box1{
    display: flex;
    margin-top: 85px;
    background-color: #f5f5f5;
    
}
.user75{
    height: 65vh;
    padding-bottom: 10vh;
    background-color: #f5f5f5;
}

.devimg3{
    width: 45%;
    position: absolute;
}


.box-text3{
    max-width: 47%;
    text-align: center;
    margin:8% 0 8% 32%;
    /* margin-top: 70px;
    padding-bottom: 70px; */
    position: absolute;
    /* margin-left: 32%; */
    
    background-color: rgb(255, 255, 255);
    border: 1px 0 1px 1px solid gray;
    padding: 4% 8%;
    box-shadow: 2px 0.5px 6px 0.5px rgb(190, 188, 188);
}

.head-main31 {
    height: 87px;
    margin-left: 24%;
    position: relative;
    padding-bottom: 2%;
    
    
  }
  
.head431 {
    color: #f0f0f0;
    font-size: 4em;
    font-weight: 700;
    left: 6%;
    letter-spacing: 0;
    line-height: 6%;
    position: absolute;
    top: 1%;
    white-space: nowrap;
    /* padding-bottom: 900px; */
    
  }
  
.head432 {
    color: #143274;
    
    font-size: 3em;
    font-weight: 700;
    left: 14%;
    letter-spacing: 0;
    line-height: 6%;
    position: absolute;
    top: 10%;
    white-space: nowrap;
  }

  .head-main31::after{
    content: "";
    position: absolute;
    bottom: 50px;
    height: 3px;
    width: 65%;
    left: -1%;
    background-color: #CA256D;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
    transform-origin:center;
}

.head-main31:hover::after{
    transform: scaleX(1);
}

.create3{
    font-size: 1.25rem;
    
    
  }
  @media screen and (max-width:1600px) {
    .head432 {
      font-size: 38px;
      font-weight: 700;
   
    }
   
    .head431 {
      font-size: 54px;
      font-weight: 700;
      left:4%;
    }
   
    .head-main2{
      margin-left: 2%;
    }

    .head-main31::after{
      left:0%;
    }

    .create3{
      font-size: 1rem;
    }
  }
   
   
  @media screen and (max-width:1000px)  {
   
      .head-main31{
      margin-left: 1%;
    }
  }
   
  @media screen and (max-width:950px) {
   
    .head432 {
      font-size: 34px;
      font-weight: 700;
   
    }
   
    .head431 {
      font-size: 50px;
      font-weight: 700;
    }
   
    .box-text3 {
   
      position: absolute;
      margin: 0px;
      max-width: 500px;
    }
   
    .devimg3 {
      width: 470px;
    }
   
    .headd44 {
      width: 400px;
    }
   
  }
   
  @media screen and (max-width:600px) {
   
    .box-text3 {
   
      position: absolute;
      margin: 0px;
      max-width: 500px;
      padding: 40px 35px;
    }
   
    .devimg3 {
      display: none;
    }
   
    .head-main31 {
      margin-left: 50px;
    }
   
    .head432 {
      font-size: 28px;
      font-weight: 700;
   
    }
   
    .head431 {
      font-size: 44px;
      font-weight: 700;
    }
  }
   
   
  @media screen and (max-width:500px) {
    .head-main31 {
      margin-left: 20%;
    }
   
    .head432 {
      font-size: 24px;
      font-weight: 700;
   
    }
   
    .head431 {
      font-size: 35px;
      font-weight: 700;
      left: 1%;
    }
   
   .user75 {
    height:30vh;
    
   
   }
   
  }